
/* Definisco la struttura del sito in modo da centrarne il contenuto e con un certo spaziamento */
body {
  margin: 0;
}

/* Modifica del width se l'esigenza era creare una struttura statica
e che quindi non cambiasse con il ridimensionamento della pagina */
main {
  width: 1000px;
  margin: 0 auto;
}


header {
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: auto 180px;
}

/* Logo The Booleaner, all'interno del banner */
header img {
  margin-left: 120px;
  margin-top: 60px;
  height: 60px;
}



/* Titolo dell'articolo */
h1 {
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 15px;
}

/* Sottotitolo dell'articolo */
#byline {
  font-size: 22px;
  color: gray;
  margin-bottom: 20px;
}

#the-booleaner {
  color: #28ace6;
}

#data {
  font-size: 15px;
}






/* Immagini dell'articolo */
.main-pic {
  height: 500px;
}

#pics-info {
  margin: 0;
  font-size: 15px;
}





/* Corpo dell'articolo */
#article {
  font-size: 20px;
}





/* Stile della tabella */

table {
  text-align: left;
  gap:0px;
  border-collapse: collapse;
}

table thead {
  background-color: #1fa9e5;
  color: white;
  font-weight: bold;
}

.custom-row {
  background-color: #b1e4f2;
}








/* Sezione delle ulteriori notizie ("Potrebbe interessarti") */

h3 {
  color: #808080;
  margin-bottom: 10px;
}


/* Layout per le immagini*/

#might-like div {
  padding-top:1px;
  width: fit-content;
  height: 170px;
  background-size: cover;
  margin-bottom: 10px;
}


/* Immagine per layout */
.bottom-image-1 {
  background-image: url('../img/monitor.jpg');
}

.bottom-image-2 {
  background-image: url('../img/graph.jpg');
}



.custom-p {
  margin-left: 10px;
  margin-right: 55px;
  margin-top: 10px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}