body {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
}

#byline {
  font-size: 22px;
  color: gray;
  margin-bottom: 20px;
}

#the-booleaner {
  color: #28ace6;
}

#data {
  font-size: 15px;
}

.main-pic {
  height: 500px;
}

#pics-info {
  margin: 0;
  font-size: 15px;
}

#article {
  font-size: 20px;
}
